.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // width: 100%;

  @include font(14, 21);

  @include media(laptop) {
    @include font(18, 27);
  }
}

.button:disabled {
  cursor: not-allowed;
}

.icon {
  // stroke: black;
  margin-right: 4px;
}
