.text {
  @include font(14, 21);
  margin-bottom: 30px;

  @include media(mobile) {
    max-width: 580px;
  }

  @include media(laptop) {
    margin-bottom: 40px;
    max-width: 100%;
  }

  @include media(desktop) {
    @include font(18, 27);
    margin-bottom: 50px;
  }
}
