.headline {
  @include font(20, 30);
  color: $absolute-white;
  margin-bottom: 10px;

  @include media(laptop) {
    @include font(28, 42);
  }

  @include media(desktop) {
    @include font(38, 57);
    margin-bottom: 14px;
  }
}
