.card {
  display: flex;
  flex-basis: calc((100% - (20px * 3)) / 4);
  flex-direction: column;
  max-width: 264px;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 6px;
}
