.container {
  margin: 0 auto;
  padding: 0 16px;

  @include media(mobile) {
    width: 90vw;
  }

  @include media(laptop) {
    width: $laptop;
    padding: 0 60px;
  }

  @include media(desktop) {
    width: $desktop;
    padding: 0 112px;
  }
}
