$dark-bg-color: #1f1b1a;
//light theme
$light-bg-color: #ffffff;
$light-text-color: #9795b5;
$light-accent-color: #5d5a88;

//dark theme

// Absolute Colors
$absolute-white: #fff;
$absolute-black: #000;

//Red Shades
$red45: #e50000;
$red50: #ff0000;
$red55: #ff1919;
$red60: #ff3333;
$red80: #ff9999;
$red90: #ffcccc;
$red95: #ffe5e5;
$red99: #fffafa;

//Black Shades
$black06: #0f0f0f;
$black08: #141414;
$black10: #1a1a1a;
$black12: #1f1f1f;
$black15: #262626;
$black20: #333333;
$black25: #404040;
$black30: #4c4c4c;

//Grey shades
$grey60: #999999;
$grey65: #a6a6a6;
$grey70: #b3b3b3;
$grey75: #bfbfbf;
$grey90: #e4e4e7;
$gray95: #f1f1f3;
$gray97: #f7f7f8;
$gray99: #fcfcfd;
