.header {
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 16px;

  @include media(laptop) {
    padding: 18px 80px;
  }

  @include media(desktop) {
    padding: 22px 160px;
  }
}
